# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# ALESA
backups/
*.backup-*
alesa-framework-*.zip
alesa-framework-*.old-*
migration*.zip

# Sensitive
firebase-admin.json
.env
.env.local

/src/generated/prisma

# Backup files
*.bak.*
*.PRE_REVAMP
*.PRE_PHASE6

# User uploads
public/uploads/
src/data/tokens.json
